p {
    color: red;
    font-family: Garamond;
    font-size: 24px;
}
h1{
    color: red;
    text-align:center;
}
div div div p{
    font-family: Arial;
    color: blue;
    font-size: 14px;
}
img {
	width:100px;
	height:100px;
	opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
/*makes fieldsets appear side by side*/
fieldset{
	border: 1px dotted #61B5CF;
	margin-top: 1.4em;
	padding: 0.6em;
	float:left;
	width:40%;
	height:75%;
}

/*div{
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}*/
a{
 color: #cc0000;
 text-decoration: none;
}
/*fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}*/
/*body {
    background-image: url("https://cloud.githubusercontent.com/assets/8796345/4615915/78c6f09e-52ee-11e4-9dd1-4b27dd49c050.JPG");
}*/
